body {
    background-color: rgb(0, 150, 255);
    text-align: center;
    margin: auto;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font: bolder;
}

canvas {
    background-color: whitesmoke;
}

#canv {
    border: 3px solid black;
    border-radius: 10px;
}

h1 {
    font-size: 40px;
}

.ui {
    width: 600px;
    margin: auto;
    padding-top: 30px;
    font-weight: bold;
}

.hidden {
    display: none;
}

button {
    border-radius: 5px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: lightgray;
}

button:hover {
    background-color: white;
    cursor: pointer;
}

button:active {
    background-color: gray;
    border-color: darkgray;
}

button:disabled {
    background-color: lightgray;
    cursor: default;
}

button:disabled:active {
    border-color: lightgray;
}

.container {
    padding-left: 100px;
    display: flex;
    flex-direction: "row";
}

.building-sidebar {
    width: 600px;
    margin: auto;
    padding-top: 30px;
    font-weight: bold;;
}