body {
    background-color: rgb(0, 150, 255);
    text-align: center;
    margin: auto;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font: bolder;
}

canvas {
    background-color: whitesmoke;
}

#canv{
    border: 3px solid black;
    border-radius: 10px;
}

h1 {
    font-size: 40px;
}

p {
    width: 600px;
    margin: auto;
    padding-top: 30px;
    font-weight: bold;
}

.hidden{
    display:none;
}